@page "/"

<PageTitle>Royal Library</PageTitle>

<h1 class="mb-4">Royal Library</h1>

<div class="mb-3">
    <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Search Books" @bind="_searchValue" @bind:event="oninput" />
    </div>
</div>

@if (!string.IsNullOrEmpty(_searchValue))
{
    <FetchData SearchValue="@_searchValue"></FetchData>
}

@code {
    private string? _searchValue;
}